{% extends "profile.html" %}
{% load staticfiles %}

{% block login %}
    {% if user.is_authenticated %}
        <li><a href="{% url "profile" %}" > {{ user.username }} </a></li>
    {% else %}
        <li>ERROR</li>
    {% endif %}
{% endblock %}


{% block section_01_left %}
    <div class="section_01_left">
        {% if user.is_authenticated %}
            <p> Please fill the fields below to change your password:</p>
          <form action="{% url "pass_change" %}" method="post">
            {% csrf_token %}
        {% for field in form %}
        <p> {{ field.label_tag }} {{ field }} <span style="color: #ff0000">{{ field.errors.as_text }}</span> </p>
             {% endfor %}
              <input type="submit" value="Submit" />
          </form>
        {% else  %}
            <h1>SOME UNXEPECTED ERROR IS HAPPENING - PASS CHANGE FOR UNAUTHENTICATED USER</h1>
            <img src="{%static 'images/question3.jpg' %}" alt="image"/>
        {% endif %}
    </div>
{% endblock %}


{% block section_01_right %}
{% endblock %}