{% extends "base.html" %}
{% load staticfiles %}
{% block login %}
    {% if user.is_authenticated %}
        <li><a href="{% url "profile" %}" rel='tablogout'> {{ user.username }} </a></li>
    {% else %}
        <li><a href="{% url "login" %}"  rel='tablogin' class="selected">Log in</a></li>
    {% endif %}
{% endblock %}

{% block section_01_left %}
<div class="section_01_left">
    {% if user.is_authenticated %}
  <img src="{{user.profile.photo_path}}" alt="image"/>
            <h3> email: {{user.email}} </h3>
            <h3> questions answered: {{  user.profile.questions_answered}} </h3>
            <h3> rating: {{  user.profile.rating}} </h3>

    {% else  %}
        <h1>SOME UNXEPECTED ERROR IS HAPPENING - PROFILE FOR UNAUTHENTICATED USER IS SHOWN</h1>
        <img src="{%static 'images/question3.jpg' %}" alt="image"/>
    {% endif %}

</div>
{% endblock %}


{% block section_01_right %}
<div class="section_01_right">
    {% if user.is_authenticated %}
    <h1>Settings: </h1>
        <a class="btn btn-default" href='{% url 'update_profile'%}' role="button"> update profile </a><br/>
        <a class="btn btn-default" href='{% url 'pass_change'%}' role="button"> change password </a>
        <p><a class="btn btn-default" href={% url 'logout'%} role="button"> log out</a> </p>

    {% else  %}
        <h1>SOME UNXEPECTED ERROR IS HAPPENING - PROFILE FOR UNAUTHENTICATED USER IS SHOWN</h1>
        <img src="{%static 'images/question3.jpg' %}" alt="image"/>
    {% endif %}

</div>
{% endblock %}