{% extends "base.html" %}
{% load staticfiles %}
{% block login %}
    <li><a href="/login"  rel='tablogin' class="selected">Loggin' in</a></li>
{% endblock %}


{% block section_01_left %}
<div class="section_01_left">
    <h1>Register</h1>
    <p><b>It takes you only a minute:</b></p>
    <form action="{% url "registration_register" %}" method="post">
        {% csrf_token %}
    {% for field in form %}
        <p> {{ field.label_tag }} {{ field }} <span style="color: #ff0000">{{ field.errors.as_text }}</span> </p>

    {% endfor %}
  <input type="submit" value="Register" />
  </form>



</div>
{% endblock %}



{% block section_01_right %}
<div class="section_01_right">
<h1> Log in</h1>
    <p> If you remembered your account credentials, try to login <a href="{% url "login" %}">here</a></p>
</div>
{% endblock %}

